@(id: Long, hubForm: Form[Hub])

@import helper._

@main("Hubs") {

  <h1>Edit hub</h1><br>

  @form(routes.Hubs.updateHub(id), 'class -> "form-horizontal") {

    @text(hubForm("name"),
      label = "Name",
      placeholder = "Hub Name",
      help = "(required)"
    )

    @text(hubForm("description"),
      label = "Description",
      placeholder = "Hub Description",
      help = "(required)"
    )

    @text(hubForm("ip"),
      label = "Hub IP",
      placeholder = "IP Address",
      readonly = "readonly"
    )

    <div class="control-group">
      <div class="col-md-offset-2">
        <input type="submit" value="Update" class="btn btn-primary">
      </div>
    </div>

    <div class="control-group">
      <div class="col-md-offset-2">
        <a href="@routes.Hubs.index" class="link-back">Back</a>
      </div>
    </div>

  }
}